* {
    margin: 0;
    padding: 0.2rem;
    font-family: "Sylfaen", sans-serif;
}

.navi {
    background: #000000;
    color: rgba(236, 236, 236, 0.28);
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

.logo {
    position: fixed;
    top: 0;
    left: 10px;
    font-size: 2rem;
    color: deeppink;
    background: linear-gradient(#c70f71,black);
    cursor: pointer;
}

.logo:hover {
    transform: rotateX(250deg);
}

nav ul {
    padding-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}

.buttonSection{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
button {
    padding: 0.5rem 2rem;
    background: #000000;
    color: #c70f71;
    border: white 1px solid;
}

button:hover {
    background-color: #ffffff;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 15px!important;
    margin: 5px 10px 5px 20px;

}

.firstH1 {
    opacity: 0;
}

.firstH1:hover {
    opacity: 1;
    position: absolute;
    top: 5rem;
    left: 5rem;
    color: #c70f71;
}

hr {
    position: absolute;
    border: 0;
    height: 10px;
    box-shadow: 0 0 10px 1px black;
    width: 30%;
    background-color: deeppink;
    left: 40%;
}

.carousel-inner {
    height: 50vh;
}

.card_bmi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 500px;
}

.bmiRechner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30vw;
}

#result1 {
    font-size: 2rem;
    font-family: "Segoe UI Emoji";
    background-color: red;
}

.ownImg {
    border-radius: 150px;
    width: 200px;
}

.ownImg:hover {
    transform: translateY(40px);
}

.content1 {
    background-image: url("img/lake-constance-g2a844ae72_640.jpg");
    background-attachment: fixed;
    background-position: center;
}

.content{
    opacity: 1;
    transition: opacity 10s;
}
.content.fade{
    opacity: 0;
}

.card {
    text-align: center;
    align-content: center;
    align-items: center;
}

.art {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.imgProduct {
    -webkit-animation-name: cssAnimation;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes cssAnimation {
    from {
        -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(50px);
    }
    to {
        -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(50px);
    }
}

.shop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#arrow {
    position: fixed;
    bottom: 0;
    right: 3rem;
    cursor: crosshair;

}
.moveup{
    transform: translateX(-500px);

}
.socialmedia {
    position: fixed;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
}

.socialmedia:hover{
    transform: scale(1.2);
}

.footer{
    background-color: #c70f71;
    text-align: center;
}

.arrowup{
    transform: translateY(-900px);

}

.card:hover{
    background-color: black;
    color: deeppink;
}